# **Trabalhando com arrays Numpy**

In [ ]:
#importando a biblioteca numpy
import numpy as np

**Calculando a quilometragem média de carros atrás de bases de dados externas**

In [ ]:
#importando a base de km
km = np.loadtxt('carros-km.txt')

In [ ]:
#visualizando o conteúdo
km

In [ ]:
#importando os anos dos carros, como inteiro
anos = np.loadtxt('carros-anos.txt', dtype = int)

In [ ]:
anos

**Com os dados importados, calcular a kilometragem média**

In [ ]:
#será os quilometros pelos anos que ele tem (ano atual - ano de fabricação)
km_media = km/(2022 - anos)

In [ ]:
#visualizando cada kilometragem média
km_media

In [ ]:
#tipo de dado
type(km_media)

numpy.ndarray

# **Operações Matemáticas**

In [ ]:
#Adição 
2+2

4

In [ ]:
#subtração
2-2

0

In [ ]:
#multiplicação
2*2

4

In [ ]:
#divisão
3/2

1.5

In [ ]:
#divisão trazendo apenas o valor inteiro
3//2

1

In [ ]:
#exponenciação
2**3

8

In [ ]:
#resto da divisão = 1
10%3

1

In [ ]:
#resto da divisão = 0
10%2

0

In [ ]:
#expressão matematica
5*2 + 3*2

16

In [ ]:
#expressão matematica com parenteses
(5*2) + (3*2)

16

In [ ]:
#podendo fazer de forma "errada/não usual"
5 * (2+3) * 2

50

In [ ]:
#variável _ é a memória do python, sendo o último valor
_

50

In [ ]:
#podendo usar o valor para contas
_ * 3*2

300

In [ ]:
#outro exemplo
_ / 2

150.0

# **Variáveis**

In [ ]:
#declaração de variáveis
ano_atual = 2022
ano_fabricacao = 2003
km_total = 44410.0

In [ ]:
#utilizando as variáveis declaradas para cálculo da quilometragem média
km_media = km_total/(ano_atual - ano_fabricacao)
km_media

2337.3684210526317

In [ ]:
#não precisamos fazer tudo separado, podemos fazer em uma única célula, tudo de uma vez
ano_atual = 2022
ano_fabricacao = 2003
km_total = 44410.0
km_media = km_total/(ano_atual - ano_fabricacao)
km_media

2337.3684210526317

In [ ]:
#supondo que o carro irá manter sua quilometragem média, qual será a quilometragem total em 2023?
#lembrando que km_total era o quanto ele tinha em 2022 e adicionamos a km_media
ano_atual = 2022
ano_fabricacao = 2003
km_total = 44410.0
km_media = km_total/(ano_atual - ano_fabricacao)
km_media

km_total = km_total + km_media
km_total

46747.36842105263

In [ ]:
#podemos deixar mais simples, adicionando apenas um + antes do =, não precisando mencional km_total:
#os códigos são equivalentes
ano_atual = 2022
ano_fabricacao = 2003
km_total = 44410.0
km_media = km_total/(ano_atual - ano_fabricacao)
km_media

km_total += km_media
km_total

#valor = valor + 1 é igual a valor += 1

46747.36842105263

**Declaração multipla**

In [ ]:
#simplificando o código
ano_atual_, ano_fabricacao, km_total = 2022, 2003, 44410.0

# **Tipos de dados**

**Números**

In [ ]:
#números inteiros
ano_atual = 2019
type(ano_atual)

int

In [ ]:
#numeros decimais
km_total = 44410.0
type(km_total)

float

**Booleano**

In [ ]:
#booleano = true
zero_km = True
type(zero_km)

bool

In [ ]:
#booleano - false
zero_km = False
type(zero_km)

bool

**String**

In [ ]:
#string usamos tanto aspas duplas como simples
nome = 'Jetta Variant'
nome

'Jetta Variant'

In [ ]:
#string usamos tanto aspas duplas como simples
nome = "Jetta Variant"
type(nome)

str

In [ ]:
#caso queriamos fazer uma citação dentro da string, usamos aspas diferentes da que iniciamos o texto
nome = 'Jetta "Variant"'
nome

'Jetta "Variant"'

In [ ]:
#string com mais de uma linha
carro = '''
Nome
Idade
Nota
'''
carro
#\n quer dizer que ele pulou uma linha

'\nNome\nIdade\nNota\n'

**None = nulo**

In [ ]:
#tipo none = valor nulo
quilometragem = None
type(quilometragem)

NoneType

# **Conversão de tipos de dados**

In [ ]:
a = 10
b = 20
c = 'Python é '
d = 'legal'

In [ ]:
print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'int'>
<class 'int'>
<class 'str'>
<class 'str'>

In [ ]:
#somando as variáveis a + b
a+b

30

In [ ]:
#somando as variaveis c e d
c+d
#notamos que concatena as strings

'Python é legal'

**int(), float() e str()**

In [ ]:
#podemos tentar escrever 'Python é 10'
c + str(a)

#convertemos a para string, pois o python não consegue somar e/ou concatenar valores inteiros com strings

'Python é 10'

In [ ]:
#podemos transformar um valor inteiro em um decimal
float(a)

10.0

In [ ]:
var = 3.99
type(var)

float

In [ ]:
int(var)

3

In [ ]:
#int é diferente de arredondamento, isto porque arredondar ele pega o valor mais proximo e int pega o valor inteiro, vamos ver a diferença:
print(f'Usando a função int() na variável var = 3.99 retorna o seguinte valor:', int(var))
print(f'Usando a função round() na variável var = 3.99 retorno o seguinte valor:', round(var))

Usando a função int() na variável var = 3.99 retorna o seguinte valor: 3
Usando a função round() na variável var = 3.99 retorno o seguinte valor: 4

# **Indentação, comentários e formatação de strings**

**Indentação**

In [ ]:
#importancia da indentação
ano_atual = 2022
ano_fabricacao = 2019

if (ano_atual == ano_fabricacao):
  print('Verdadeiro')
else: 
#print('False')
  print('False')

#o código comentado mostra que não possuia indentação, já a próxima linha mostra a indentação necessária

Verdadeiro

**Comentários**

In [ ]:
#Isto é um comentário
ano_atual = 2022 #ano que estamos estudando
ano_comecei = 2019 #ano que começamos a estudar

#comentários são boas práticas para guiar as pessoas e deixar catalogado o que 
#é cada coisa, sua importância e deixa um entendimento mais fácil

In [ ]:
#comentando um pequeno código
ano_atual = 2022            #ano que estamos
ano_fabricacao = 2019       #ano que foi fabricado o carro

#se o ano que estamos for igual ao ano que o carro foi fabricado
if (ano_atual == ano_fabricacao):
  print('Verdadeiro')       #exiba na tela verdadeiro
else:                       #caso contrário
  print('False')            #exiba na tela falso

**Formatação de strings**

In [ ]:
#exiba na tela um parâmetro passado
print('Oi, {}!'.format('Rodrigo'))

Oi, Rodrigo!

In [ ]:
#podendo passar mais de um parâmetro
print('Oi, {}! Este é seu acesso de número {}'.format('Rodrigo', 44))

Oi, Rodrigo! Este é seu acesso de número 44

In [ ]:
#podemos nomear as variáveis
print('Oi, {nome}! Este é seu acesso de número {acesso}'.format(nome='Rodrigo', acesso=44))

Oi, Rodrigo! Este é seu acesso de número 44

In [ ]:
#podendo utilizar variáveis já criadas (formato mais novo)
nome='Rodrigo'
acesso=44

print(f'Oi, {nome}! Este é seu acesso de número {acesso}')

Oi, Rodrigo! Este é seu acesso de número 44

# **Criando Listas**

In [ ]:
#usamos listas para armanezar coleção de itens em sequencias mutáveis, para fazer uma lista utilizamos []
acessorios = ['Rodas de liga', 'Travas elétricas', 'Piloto automático', 'Bancos de couro', 'Ar condicionado', 'Sensor de estacionamento', 'Sensor crepuscular', 'Sensor de chuva']
acessorios

['Rodas de liga',
 'Travas elétricas',
 'Piloto automático',
 'Bancos de couro',
 'Ar condicionado',
 'Sensor de estacionamento',
 'Sensor crepuscular',
 'Sensor de chuva']

In [ ]:
type(acessorios)

list

In [ ]:
#podemos guardar diversos tipos de itens, inclusive listas em listas:
Carro_1 = ['Jetta Variant', 'Motor 4.0 Turbo', 2003, 44410.0, False, ['Rodas de liga', 'Travas elétricas', 'Piloto automático'], 88078.64]
Carro_2 = ['Passat', 'Motor Diesel', 1991, 5712.0, False, ['Central multimídia', 'Teto panorâmico', 'Freios ABS'], 106161.94]

In [ ]:
Carro_1

['Jetta Variant',
 'Motor 4.0 Turbo',
 2003,
 44410.0,
 False,
 ['Rodas de liga', 'Travas elétricas', 'Piloto automático'],
 88078.64]

In [ ]:
Carro_2

['Passat',
 'Motor Diesel',
 1991,
 5712.0,
 False,
 ['Central multimídia', 'Teto panorâmico', 'Freios ABS'],
 106161.94]

In [ ]:
#como listas podem ter listas dentro, podemos criar listas a partir de variáveis que são do tipo lista
carros = [Carro_1, Carro_2]
carros

[['Jetta Variant',
  'Motor 4.0 Turbo',
  2003,
  44410.0,
  False,
  ['Rodas de liga', 'Travas elétricas', 'Piloto automático'],
  88078.64],
 ['Passat',
  'Motor Diesel',
  1991,
  5712.0,
  False,
  ['Central multimídia', 'Teto panorâmico', 'Freios ABS'],
  106161.94]]

# **Operações com Listas**

In [ ]:
#como identificar se um item está dentro de uma lista
'Rodas de liga' in acessorios
#x in A = o que procuramos in variável/tabela

In [ ]:
#vamos conferir se tem 4x4 em acessorios
'4x4' in acessorios

In [ ]:
#da mesma forma que perguntamos se o valor procurado está dentro da variável, podemos perguntar se não está dentro:
'Rodas de liga' not in acessorios
#neste caso retorna False, pois 'Rodas de liga' está (in) acessorios.

**Concatenando listas**

In [ ]:
#nossas listas que usaremos
A = ['Rodas de liga', 'Travas elétricas', 'Piloto automático', 'Bancos de couro']
B = ['Ar condicionado', 'Sensor de estacionamento', 'Sensor crepuscular', 'Sensor de chuva']

In [ ]:
#concatenando as listas
C = A + B
#"juntamos" as listas, neste caso criou uma nova lista com as duas listas juntas, ou seja, 8 itens

In [ ]:
#caso fosse uma lista maior e precisariamos contar, podemos utilizar a função build-in len()
len(C)

#ou

len (A+B)

8

# **Seleções em listas**
Listas tem indexação com origem no zero

**A[i]**
Retorna o i-ésimo item da lista A.

In [ ]:
#A[i] retorna o i-ésimo item da lista A
acessorios = ['Rodas de liga', 'Travas elétricas', 'Piloto automático', 'Bancos de couro', 'Ar condicionado', 'Sensor de estacionamento', 'Sensor crepuscular', 'Sensor de chuva']
acessorios

['Rodas de liga',
 'Travas elétricas',
 'Piloto automático',
 'Bancos de couro',
 'Ar condicionado',
 'Sensor de estacionamento',
 'Sensor crepuscular',
 'Sensor de chuva']

In [ ]:
#acessando rodas de liga
acessorios[0]

'Rodas de liga'

In [ ]:
#acessando o item piloto automatico
acessorios[2]

'Piloto automático'

In [ ]:
#acessando o ultimo item da lista
acessorios[-1]

'Sensor de chuva'

In [ ]:
Carro_1 = ['Jetta Variant', 'Motor 4.0 Turbo', 2003, 44410.0, False, ['Rodas de liga', 'Travas elétricas', 'Piloto automático'], 88078.64]
Carro_2 = ['Passat', 'Motor Diesel', 1991, 5712.0, False, ['Central multimídia', 'Teto panorâmico', 'Freios ABS'], 106161.94]
Carros = [Carro_1, Carro_2]

In [ ]:
Carros

[['Jetta Variant',
  'Motor 4.0 Turbo',
  2003,
  44410.0,
  False,
  ['Rodas de liga', 'Travas elétricas', 'Piloto automático'],
  88078.64],
 ['Passat',
  'Motor Diesel',
  1991,
  5712.0,
  False,
  ['Central multimídia', 'Teto panorâmico', 'Freios ABS'],
  106161.94]]

In [ ]:
#acessando a primeira lista de lista Carros
Carros[0]

['Jetta Variant',
 'Motor 4.0 Turbo',
 2003,
 44410.0,
 False,
 ['Rodas de liga', 'Travas elétricas', 'Piloto automático'],
 88078.64]

In [ ]:
#Acessando o valor jetta variant da primeira lista
Carros[0][0]

'Jetta Variant'

In [ ]:
#Acessando o valor para retornar travas elétricas
Carros[0][-2][1]

'Travas elétricas'

**A[i:j]** 
Recorta a lista A do índice i até o j. Neste fatiamento o elemento com índice i é incluído e o elemento com índice j não é incluído no resultado.

In [ ]:
acessorios = ['Rodas de liga', 'Travas elétricas', 'Piloto automático', 'Bancos de couro', 'Ar condicionado', 'Sensor de estacionamento', 'Sensor crepuscular', 'Sensor de chuva']
acessorios

['Rodas de liga',
 'Travas elétricas',
 'Piloto automático',
 'Bancos de couro',
 'Ar condicionado',
 'Sensor de estacionamento',
 'Sensor crepuscular',
 'Sensor de chuva']

In [ ]:
#Pegando do piloto automatico[2] ATÉ sensor de estacionamento([5]+1)
acessorios[2:6]

#note que no final utilizamos o valor [5]+1, pois o valor final é excludente, então para incluir colocamos um valor a mais

['Piloto automático',
 'Bancos de couro',
 'Ar condicionado',
 'Sensor de estacionamento']

In [ ]:
#pegando os valores do piloto automático até o final
acessorios[2:]
#deixamos o segundo valor vazio, o Python entende que os valores irão até o final e retorna todos os itens a partir do item 2

['Piloto automático',
 'Bancos de couro',
 'Ar condicionado',
 'Sensor de estacionamento',
 'Sensor crepuscular',
 'Sensor de chuva']

In [ ]:
#o contrário é verdadeiro, se quisermos do sensor de estacionamento e todos os valores antes dele:
acessorios[:6]

['Rodas de liga',
 'Travas elétricas',
 'Piloto automático',
 'Bancos de couro',
 'Ar condicionado',
 'Sensor de estacionamento']

# **Métodos de listas**

In [ ]:
acessorios = ['Rodas de liga', 'Travas elétricas', 'Piloto automático', 'Bancos de couro', 'Ar condicionado', 'Sensor de estacionamento', 'Sensor crepuscular', 'Sensor de chuva']
acessorios

['Rodas de liga',
 'Travas elétricas',
 'Piloto automático',
 'Bancos de couro',
 'Ar condicionado',
 'Sensor de estacionamento',
 'Sensor crepuscular',
 'Sensor de chuva']

**A.sort()**: ordena a lista A

In [ ]:
#ordenando os elementos da lista acessorios
acessorios.sort()
acessorios

['Ar condicionado',
 'Bancos de couro',
 'Piloto automático',
 'Rodas de liga',
 'Sensor crepuscular',
 'Sensor de chuva',
 'Sensor de estacionamento',
 'Travas elétricas']

**A.append(x)**: adiciona o elemento x no final da lista A

In [ ]:
acessorios.append('4 X 4')

**A.pop(x)**: remove um item da lista, se não adicionarmos o que queremos remover, ele irá remover o último

In [ ]:
#removendo o último item
acessorios.pop()
acessorios
#removeu o '4 X 4'

['Ar condicionado',
 'Bancos de couro',
 'Piloto automático',
 'Rodas de liga',
 'Sensor crepuscular',
 'Sensor de chuva',
 'Sensor de estacionamento',
 'Travas elétricas']

In [ ]:
#removendo o item rodas de liga
acessorios.pop(3)
acessorios

['Ar condicionado',
 'Bancos de couro',
 'Piloto automático',
 'Sensor crepuscular',
 'Sensor de chuva',
 'Sensor de estacionamento',
 'Travas elétricas']

**A.copy**: Cria uma cópia da lista A

In [ ]:
#quando fazemos:
acessorios_2 = acessorios
acessorios_2.append('4x4')

In [ ]:
#pensamos que apenas mudamos acessorios_2:
acessorios_2

['Ar condicionado',
 'Bancos de couro',
 'Piloto automático',
 'Sensor crepuscular',
 'Sensor de chuva',
 'Sensor de estacionamento',
 'Travas elétricas',
 '4x4']

In [ ]:
#mas também alteramos acessorios:
acessorios

#isso porque apenas rotulamos a variável acessorios, com outro nome, mas ainda é a mesma variável
#para evitar esse tipo de troca dupla, utilizamos o copy, que fará uma cópia da variável/lista
#e caso faça alguma mudança na nova variável, não afetará a original

['Ar condicionado',
 'Bancos de couro',
 'Piloto automático',
 'Sensor crepuscular',
 'Sensor de chuva',
 'Sensor de estacionamento',
 'Travas elétricas',
 '4x4']

In [ ]:
#tirando o valor '4x4'
acessorios_2.pop()

#vamos testar a função copy()

#copiamos a base
acessorios_2 = acessorios.copy()

#adicionamos um novo valor a variável
acessorios_2.append('4x4')

In [ ]:
#visualizamos a variável acessorios_2
acessorios_2

['Ar condicionado',
 'Bancos de couro',
 'Piloto automático',
 'Sensor crepuscular',
 'Sensor de chuva',
 'Sensor de estacionamento',
 'Travas elétricas',
 '4x4']

In [ ]:
#e acessamos a variável acessórios:
acessorios

#neste caso, notamos que a variável acessorios não se alterou, mesmo sendo a variável acessorios_2 sendo alterada

['Ar condicionado',
 'Bancos de couro',
 'Piloto automático',
 'Sensor crepuscular',
 'Sensor de chuva',
 'Sensor de estacionamento',
 'Travas elétricas']

# **Estruturas de repetição e condicionais**
**Instrução FOR**

Formato:
```
for <variável> in <coleção>:
    <instruções>
```

**Loops com lista**

In [ ]:
acessorios = ['Rodas de liga', 'Travas elétricas', 'Piloto automático', 'Bancos de couro', 'Ar condicionado', 'Sensor de estacionamento', 'Sensor crepuscular', 'Sensor de chuva']
acessorios

['Rodas de liga',
 'Travas elétricas',
 'Piloto automático',
 'Bancos de couro',
 'Ar condicionado',
 'Sensor de estacionamento',
 'Sensor crepuscular',
 'Sensor de chuva']

In [ ]:
#printando cada item da lista acessórios
for item in acessorios:
  print(item)

Rodas de liga
Travas elétricas
Piloto automático
Bancos de couro
Ar condicionado
Sensor de estacionamento
Sensor crepuscular
Sensor de chuva

**List comprehensions**

In [ ]:
#gerando uma lista com 10 elementos por meio de uma build-in fuction
range(10)

range(0, 10)

In [ ]:
#podemos criar uma lista da forma que conhecemos com colchetes, da seguinte forma:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
#fazendo o print de cada item do meu range (10 (0-9)) ao quadrado:
for i in range(10):
  print(i ** 2)

0
1
4
9
16
25
36
49
64
81

In [ ]:
#salvando os valores ao quadrado em uma variável
quadrado = []

for i in range(10):
  quadrado.append(i**2)

quadrado

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
#fazendo a mesma lista, mas por meio de list comprehensions (uma única linha):
[i ** 2 for i in range(10)]

#o que eu quero fazer, e o meu for: i elevado ao quadrado para i em range(10)
#podendo criar a variável quadrado com isso:

quadrado = [i ** 2 for i in range(10)]
quadrado

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

# **Loops aninhados**

In [ ]:
#uma lista com três listas dentro
dados = [ 
    ['Rodas de liga', 'Travas elétricas', 'Piloto automático', 'Bancos de couro', 'Ar condicionado', 'Sensor de estacionamento', 'Sensor crepuscular', 'Sensor de chuva'],
    ['Central multimídia', 'Teto panorâmico', 'Freios ABS', '4 X 4', 'Painel digital', 'Piloto automático', 'Bancos de couro', 'Câmera de estacionamento'],
    ['Piloto automático', 'Controle de estabilidade', 'Sensor crepuscular', 'Freios ABS', 'Câmbio automático', 'Bancos de couro', 'Central multimídia', 'Vidros elétricos']
]
dados

[['Rodas de liga',
  'Travas elétricas',
  'Piloto automático',
  'Bancos de couro',
  'Ar condicionado',
  'Sensor de estacionamento',
  'Sensor crepuscular',
  'Sensor de chuva'],
 ['Central multimídia',
  'Teto panorâmico',
  'Freios ABS',
  '4 X 4',
  'Painel digital',
  'Piloto automático',
  'Bancos de couro',
  'Câmera de estacionamento'],
 ['Piloto automático',
  'Controle de estabilidade',
  'Sensor crepuscular',
  'Freios ABS',
  'Câmbio automático',
  'Bancos de couro',
  'Central multimídia',
  'Vidros elétricos']]

In [ ]:
#identificando quais listas temos:
for lista in dados:
  print(lista)

['Rodas de liga', 'Travas elétricas', 'Piloto automático', 'Bancos de couro', 'Ar condicionado', 'Sensor de estacionamento', 'Sensor crepuscular', 'Sensor de chuva']
['Central multimídia', 'Teto panorâmico', 'Freios ABS', '4 X 4', 'Painel digital', 'Piloto automático', 'Bancos de couro', 'Câmera de estacionamento']
['Piloto automático', 'Controle de estabilidade', 'Sensor crepuscular', 'Freios ABS', 'Câmbio automático', 'Bancos de couro', 'Central multimídia', 'Vidros elétricos']

In [ ]:
#identificando todos os itens que temos dentro da nossa variável
for lista in dados:
  for item in lista:
    print(item)

Rodas de liga
Travas elétricas
Piloto automático
Bancos de couro
Ar condicionado
Sensor de estacionamento
Sensor crepuscular
Sensor de chuva
Central multimídia
Teto panorâmico
Freios ABS
4 X 4
Painel digital
Piloto automático
Bancos de couro
Câmera de estacionamento
Piloto automático
Controle de estabilidade
Sensor crepuscular
Freios ABS
Câmbio automático
Bancos de couro
Central multimídia
Vidros elétricos

In [ ]:
#criando uma variável e guardando todos os itens na variável acessórios que tem formato de lista:
acessorios = []

for lista in dados:
  for item in lista:
    acessorios.append(item)

acessorios

['Rodas de liga',
 'Travas elétricas',
 'Piloto automático',
 'Bancos de couro',
 'Ar condicionado',
 'Sensor de estacionamento',
 'Sensor crepuscular',
 'Sensor de chuva',
 'Central multimídia',
 'Teto panorâmico',
 'Freios ABS',
 '4 X 4',
 'Painel digital',
 'Piloto automático',
 'Bancos de couro',
 'Câmera de estacionamento',
 'Piloto automático',
 'Controle de estabilidade',
 'Sensor crepuscular',
 'Freios ABS',
 'Câmbio automático',
 'Bancos de couro',
 'Central multimídia',
 'Vidros elétricos']

**set()**

In [ ]:
#removendo os valores duplicados da minha variável acessorios, mas ainda em formato de lista
list(set(acessorios))

['Ar condicionado',
 'Rodas de liga',
 'Sensor crepuscular',
 'Controle de estabilidade',
 'Sensor de estacionamento',
 'Câmbio automático',
 'Painel digital',
 'Câmera de estacionamento',
 'Sensor de chuva',
 'Piloto automático',
 'Vidros elétricos',
 '4 X 4',
 'Travas elétricas',
 'Bancos de couro',
 'Teto panorâmico',
 'Freios ABS',
 'Central multimídia']

In [ ]:
#fazendo tudo que eu fiz, mas em forma de list comprehensions:
list(set([item for lista in dados for item in lista]))

['Rodas de liga',
 'Ar condicionado',
 'Sensor crepuscular',
 'Sensor de estacionamento',
 'Controle de estabilidade',
 'Painel digital',
 'Câmbio automático',
 'Sensor de chuva',
 'Câmera de estacionamento',
 'Piloto automático',
 'Vidros elétricos',
 '4 X 4',
 'Travas elétricas',
 'Bancos de couro',
 'Teto panorâmico',
 'Freios ABS',
 'Central multimídia']

# **Instrução IF**

#### Formato padrão

```
if <condição>:
     <instruções caso a condição seja verdadeira>
```

In [ ]:
# 1º item da lista - Nome do veículo
# 2º item da lista - Ano de fabricação
# 3º item da lista - Veículo é zero km?

dados = [
    ['Jetta Variant', 2003, False],
    ['Passat', 1991, False],
    ['Crossfox', 1990, False],
    ['DS5', 2019, True],
    ['Aston Martin DB4', 2006, False],
    ['Palio Weekend', 2012, False],
    ['A5', 2019, True],
    ['Série 3 Cabrio', 2009, False],
    ['Dodge Jorney', 2019, False],
    ['Carens', 2011, False]
]
dados

[['Jetta Variant', 2003, False],
 ['Passat', 1991, False],
 ['Crossfox', 1990, False],
 ['DS5', 2019, True],
 ['Aston Martin DB4', 2006, False],
 ['Palio Weekend', 2012, False],
 ['A5', 2019, True],
 ['Série 3 Cabrio', 2009, False],
 ['Dodge Jorney', 2019, False],
 ['Carens', 2011, False]]

In [ ]:
#salvar apenas as lista que estão marcados como true (que são 0 km) em dados:
veiculo_zerokm = []

for lista in dados:
    if lista[2] == True:
      veiculo_zerokm.append(lista)

veiculo_zerokm

[['DS5', 2019, True], ['A5', 2019, True]]

In [ ]:
#salvar apenas as lista que estão marcados como false (que não são 0 km) em dados:
veiculo_naozerokm = []

for lista in dados:
    if lista[2] == False:
      veiculo_naozerokm.append(lista)

veiculo_naozerokm

[['Jetta Variant', 2003, False],
 ['Passat', 1991, False],
 ['Crossfox', 1990, False],
 ['Aston Martin DB4', 2006, False],
 ['Palio Weekend', 2012, False],
 ['Série 3 Cabrio', 2009, False],
 ['Dodge Jorney', 2019, False],
 ['Carens', 2011, False]]

In [ ]:
#fazendo o mesmo que fizemos por meio de list comprehensions:
veiculo_zerokm = [lista for lista in dados if lista[2] == True]
veiculo_zerokm

veiculo_naozerokm = [lista for lista in dados if lista[2] == False]
veiculo_naozerokm

[['Jetta Variant', 2003, False],
 ['Passat', 1991, False],
 ['Crossfox', 1990, False],
 ['Aston Martin DB4', 2006, False],
 ['Palio Weekend', 2012, False],
 ['Série 3 Cabrio', 2009, False],
 ['Dodge Jorney', 2019, False],
 ['Carens', 2011, False]]

# **Instruções if-else e if-elif-else**

#### Formato padrão

```
if <condição>:
    <instruções caso a condição seja verdadeira>
else:
    <instruções caso a condição não seja verdadeira>
```

In [ ]:
# 1º item da lista - Nome do veículo
# 2º item da lista - Ano de fabricação
# 3º item da lista - Veículo é zero km?

dados = [
    ['Jetta Variant', 2003, False],
    ['Passat', 1991, False],
    ['Crossfox', 1990, False],
    ['DS5', 2019, True],
    ['Aston Martin DB4', 2006, False],
    ['Palio Weekend', 2012, False],
    ['A5', 2019, True],
    ['Série 3 Cabrio', 2009, False],
    ['Dodge Jorney', 2019, False],
    ['Carens', 2011, False]
]
dados

[['Jetta Variant', 2003, False],
 ['Passat', 1991, False],
 ['Crossfox', 1990, False],
 ['DS5', 2019, True],
 ['Aston Martin DB4', 2006, False],
 ['Palio Weekend', 2012, False],
 ['A5', 2019, True],
 ['Série 3 Cabrio', 2009, False],
 ['Dodge Jorney', 2019, False],
 ['Carens', 2011, False]]

In [ ]:
#vamos fazer o mesmo que fizemos acima, mas num único FOR

#primeiro definimos nossas variáveis:
veiculo_zerokm, veiculo_naozerokm = [], []

#vamos fazer o for e guardar os valores de 0km e de não 0km nas suas respectivas variáveis:
for lista in dados:
  if lista[2] == True:
    veiculo_zerokm.append(lista)
  else:
    veiculo_naozerokm.append(lista)

In [ ]:
veiculo_zerokm

[['DS5', 2019, True], ['A5', 2019, True]]

In [ ]:
veiculo_naozerokm

[['Jetta Variant', 2003, False],
 ['Passat', 1991, False],
 ['Crossfox', 1990, False],
 ['Aston Martin DB4', 2006, False],
 ['Palio Weekend', 2012, False],
 ['Série 3 Cabrio', 2009, False],
 ['Dodge Jorney', 2019, False],
 ['Carens', 2011, False]]

#### Formato padrão

```
if <condição 1>:
    <instruções caso a condição 1 seja verdadeira>
elif <condição 2>:
    <instruções caso a condição 2 seja verdadeira>
elif <condição 3>:
    <instruções caso a condição 3 seja verdadeira>
                        .
                        .
                        .
else:
    <instruções caso as condições anteriores não sejam verdadeiras>
```

**Operadores lógicos *AND* e *OR***

In [ ]:
print('AND')
print(f'(True and True) o resultado é: {True and True}')
print(f'(True and False) o resultado é: {True and False}')
print(f'(False and True) o resultado é: {False and True}')
print(f'(False and False) o resultado é: {False and False}')

AND
(True and True) o resultado é: True
(True and False) o resultado é: False
(False and True) o resultado é: False
(False and False) o resultado é: False

In [ ]:
print('OR')
print(f'(True or True) o resultado é: {True or True}')
print(f'(True or False) o resultado é: {True or False}')
print(f'(False or True) o resultado é: {False or True}')
print(f'(False or False) o resultado é: {False or False}')

OR
(True or True) o resultado é: True
(True or False) o resultado é: True
(False or True) o resultado é: True
(False or False) o resultado é: False

**Utilizando *IF* e *ELIF***

In [ ]:
# 1º item da lista - Nome do veículo
# 2º item da lista - Ano de fabricação
# 3º item da lista - Veículo é zero km?

dados = [
    ['Jetta Variant', 2003, False],
    ['Passat', 1991, False],
    ['Crossfox', 1990, False],
    ['DS5', 2019, True],
    ['Aston Martin DB4', 2006, False],
    ['Palio Weekend', 2012, False],
    ['A5', 2019, True],
    ['Série 3 Cabrio', 2009, False],
    ['Dodge Jorney', 2019, False],
    ['Carens', 2011, False]
]
dados

In [ ]:
#Faremos 3 listas de acordo com o ano do carro:
#A <= 2000, 2000 < B <= 2010 e C > 2010
A, B, C = [], [], []

for lista in dados:
  if lista[1] <= 2000:
    A.append(lista)
  elif lista[1] > 2000 and lista[1] <= 2010:
    B.append(lista)
  elif lista[1] > 2010:
    C.append(lista)

In [ ]:
A

[['Passat', 1991, False], ['Crossfox', 1990, False]]

In [ ]:
B

[['Jetta Variant', 2003, False],
 ['Aston Martin DB4', 2006, False],
 ['Série 3 Cabrio', 2009, False]]

In [ ]:
C

[['DS5', 2019, True],
 ['Palio Weekend', 2012, False],
 ['A5', 2019, True],
 ['Dodge Jorney', 2019, False],
 ['Carens', 2011, False]]

# NUMPY BÁSICO
---

Numpy é a abreviação de Numerical Python e é um dos pacotes mais importantes para processamento numérico em Python. Numpy oferece a base para a maioria dos pacotes de aplicações científicas que utilizem dados numéricos em Python (estruturas de dados e algoritmos). Pode-se destacar os seguintes recursos que o pacote Numpy contém:

- Um poderoso objeto array multidimensional;
- Funções matemáticas sofisticadas para operações com arrays sem a necessidade de utilização de laços *for*;
- Recursos de algebra linear e geração de números aleatórios

Além de seus óbvios usos científicos, o pacote NumPy também é muito utilizado em análise de dados como um eficiente contêiner multidimensional de dados genéricos para transporte entre diversos algoritmos e bibliotecas em Python.

**Versão:** 1.16.5

**Instalação:** https://scipy.org/install.html

**Documentação:** https://numpy.org/doc/1.16/

**Pacotes**

Existem diversos pacotes Python disponíveis para download na internet. Cada pacote tem como objetivo a solução de determinado tipo de problema e para isso são desenvolvidos novos tipos, funções e métodos.

Alguns pacotes são bastante utilizados em um contexto de ciência de dados como por exemplo:

- Numpy
- Pandas
- Scikit-learn
- Matplotlib

Alguns pacotes não são distribuídos com a instalação default do Python. Neste caso devemos instalar os pacotes que necessitamos em nosso sistema para podermos utilizar suas funcionalidades.

In [ ]:
#importando o pacote numpy
import numpy as np

In [ ]:
#usando uma função do numpy
np.arange(10)

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [ ]:
#importando apenas uma parte do pacote
from numpy import arange

##**Criando arrays Numpy**

In [ ]:
import numpy as np

In [ ]:
#criando um array
km = np.array([1000, 2300, 4987, 1500])

In [ ]:
#entendendo o tipo da variáve
type(km)

numpy.ndarray

In [ ]:
#entender qual é o tipo de valor armazenado na variável km
km.dtype

dtype('int64')

**Carregando dados externos**

In [ ]:
#utilizando a função do numpy para carregar os dados com formato de texto
km = np.loadtxt(fname = 'carros-km.txt', dtype = int)

In [ ]:
km

**Arrays com duas dimensões**

In [ ]:
#carregando listas dentro de uma lista
dados = [ 
    ['Rodas de liga', 'Travas elétricas', 'Piloto automático', 'Bancos de couro', 'Ar condicionado', 'Sensor de estacionamento', 'Sensor crepuscular', 'Sensor de chuva'],
    ['Central multimídia', 'Teto panorâmico', 'Freios ABS', '4 X 4', 'Painel digital', 'Piloto automático', 'Bancos de couro', 'Câmera de estacionamento'],
    ['Piloto automático', 'Controle de estabilidade', 'Sensor crepuscular', 'Freios ABS', 'Câmbio automático', 'Bancos de couro', 'Central multimídia', 'Vidros elétricos']
]
dados

[['Rodas de liga',
  'Travas elétricas',
  'Piloto automático',
  'Bancos de couro',
  'Ar condicionado',
  'Sensor de estacionamento',
  'Sensor crepuscular',
  'Sensor de chuva'],
 ['Central multimídia',
  'Teto panorâmico',
  'Freios ABS',
  '4 X 4',
  'Painel digital',
  'Piloto automático',
  'Bancos de couro',
  'Câmera de estacionamento'],
 ['Piloto automático',
  'Controle de estabilidade',
  'Sensor crepuscular',
  'Freios ABS',
  'Câmbio automático',
  'Bancos de couro',
  'Central multimídia',
  'Vidros elétricos']]

In [ ]:
#criando um array com base nas listas
acessorios = np.array(dados)

In [ ]:
acessorios

array([['Rodas de liga', 'Travas elétricas', 'Piloto automático',
        'Bancos de couro', 'Ar condicionado', 'Sensor de estacionamento',
        'Sensor crepuscular', 'Sensor de chuva'],
       ['Central multimídia', 'Teto panorâmico', 'Freios ABS', '4 X 4',
        'Painel digital', 'Piloto automático', 'Bancos de couro',
        'Câmera de estacionamento'],
       ['Piloto automático', 'Controle de estabilidade',
        'Sensor crepuscular', 'Freios ABS', 'Câmbio automático',
        'Bancos de couro', 'Central multimídia', 'Vidros elétricos']],
      dtype='<U24')

In [ ]:
#entendendo o tamanho do array km criado (externo)
km.shape
#linha, coluna

(258,)

In [ ]:
#entendendo o tamanho do array acessorios (array com lista de listas)
acessorios.shape
#linha, coluna

(3, 8)

**Comparando o desempenho com listas**

In [ ]:
np_array = np.arange(1000000)

In [ ]:
py_list = list(range(1000000))

In [ ]:
#vendo o percentual do tempo de execução para np_array
#multiplicando o valor por 2
%time for _ in range(100): np_array *= 2

CPU times: user 82.3 ms, sys: 0 ns, total: 82.3 ms
Wall time: 83.4 ms

In [ ]:
#vendo o percentual do tempo de execução para py_list
#multiplicando o valor por 2
%time for _ in range(100): py_list = [x * 2 for x in py_list]

CPU times: user 9.5 s, sys: 2.46 s, total: 12 s
Wall time: 12 s

In [ ]:
#a diferença dos dois executando a mesma função é notavel, enquanto o array numpy demorou 83 milisegundos a lista do python demorou 12 segundos

## **Operações Aritméticas com arrays Numpy**

### **Operações entre arrays e constantes**

In [ ]:
#listas do Python
km = [44410., 5712., 37123., 0., 25757.]
anos = [2003, 1991, 1990, 2019, 2006]

In [ ]:
#vamos tentar ver os anos do carro, de que forma? ano atual - ano do carro
#de primeiro momento, de forma lógica pensariamos em fazer da forma abaixo:

#idade = 2022 - anos
#idade

#ocorre um erro, pois ele não suporta uma operação entre o valor inteiro e uma lista, 
#no entanto, os Arrays Numpy suportam

In [ ]:
#arrays Numpy
km = np.array([44410., 5712., 37123., 0., 25757.])
anos = np.array([2003, 1991, 1990, 2019, 2006])

In [ ]:
idade = 2022 - anos
idade

array([19, 31, 32,  3, 16])

### **Operações entre arrays**

In [ ]:
#calculando a idade média de cada veículo
km = np.array([44410., 5712., 37123., 0., 25757.])
anos = np.array([2003, 1991, 1990, 2019, 2006])
idade = 2022 - anos

km_media = km / idade
km_media

array([2337.36842105,  184.25806452, 1160.09375   ,    0.        ,
       1609.8125    ])

In [ ]:
#como ele fez na prática essa conta?
#km [0] / (idade[0])

44410 / (2022 - 2003)

#é bem mais simples fazer com os arrays pela comodidade

2337.3684210526317

### **Operações com arrays de duas dimensões**

In [ ]:
dados = np.array([km, anos])

In [ ]:
dados

array([[44410.,  5712., 37123.,     0., 25757.],
       [ 2003.,  1991.,  1990.,  2019.,  2006.]])

In [ ]:
dados.shape
#linhas, colunas

(2, 5)

![1410-img01.png](https://caelum-online-public.s3.amazonaws.com/1410-pythondatascience/01/1410-img01.png)

In [ ]:
#como acessar os itens para fazer a conta da km_média do primeiro veiculo?
dados[0][0]/(2022 - dados[1][0])

2337.3684210526317

In [ ]:
#e se ao invés de um item querer saber os valores de todos os veiculos?
km_media = dados[0] / (2022 - dados[1])
km_media

array([2337.36842105,  184.25806452, 1160.09375   ,    0.        ,
       1609.8125    ])

### **Indexação**

In [ ]:
#criando um array para trabalhar com a indexação dentro dele
contador = np.arange(10)
contador

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [ ]:
#trazendo o primeiro valor da variável contador
contador[0]

0

In [ ]:
item = 6 #caso eu queria pegar o item 6
index = item - 1 #o index tem que ser o item (6) menos 1
contador[index]

5

In [ ]:
#pegando o último item da lista
contador[-1]

9

In [ ]:
#pegando a primeira linha
dados[0]

array([44410.,  5712., 37123.,     0., 25757.])

In [ ]:
#pegando a segunda linha
dados[1]

array([2003., 1991., 1990., 2019., 2006.])

In [ ]:
#pegando o terceiro linha da segunda linha
dados[1][2]

1990.0

### **Fatiamento**

In [ ]:
#criando um array para trabalhar com a fatiamento dentro dele
contador = np.arange(10)
contador

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [ ]:
#selecionando valores 1, 2 e 3
contador[1:4]

array([1, 2, 3])

In [ ]:
#quero ir do 1 até o 7 apenas pegando os valores impares
contador[1:8:2]

#o passo dois pega um valor sim, valor não = "pulos"

array([1, 3, 5, 7])

In [ ]:
#pegando todos os valores pares de um forma difente:
contador[::2]

#indo do começo ao fim de dois em dois

array([0, 2, 4, 6, 8])

In [ ]:
#caso queira os impares da mesma forma:
contador[1::2]

array([1, 3, 5, 7, 9])

In [ ]:
dados

array([[44410.,  5712., 37123.,     0., 25757.],
       [ 2003.,  1991.,  1990.,  2019.,  2006.]])

In [ ]:
#pegando as duas linhas que tem os valores 5712, 37123 e 0 de dados
dados[:,1:4]

#traduzindo: [todas as linhas:, dos itens 1 até 3 (1:4(4 é excludente))]

array([[ 5712., 37123.,     0.],
       [ 1991.,  1990.,  2019.]])

In [ ]:
#calculando a kilometragem média dos 3 veículos
dados[:,1:4][0]/(2022 - dados[:,1:4][1])

array([ 184.25806452, 1160.09375   ,    0.        ])

### **Indexação com array Booleano**

In [ ]:
#vendo quais valores do array contador são maiores que 5
contador > 5

array([False, False, False, False, False, False,  True,  True,  True,
        True])

In [ ]:
#selecionando apenas os valores do array contador que são maiores que 5
contador[contador > 5]

#o código acima é o mesmo do abaixo, mas de forma muito mais simplificada:
contador[[False, False, False, False, False, False,  True,  True,  True,  True]]

array([6, 7, 8, 9])

In [ ]:
dados

array([[44410.,  5712., 37123.,     0., 25757.],
       [ 2003.,  1991.,  1990.,  2019.,  2006.]])

In [ ]:
#pegando os veículos que foram fabricados a partir do ano 2000
dados_2000 = dados[:,dados[1] > 2000]

In [ ]:
#calculando qual a kilometragem média de cada veículo
km_media_2000 = dados_2000[0] / (2022 - dados_2000[1])
km_media_2000

array([2337.36842105,    0.        , 1609.8125    ])

## **Atributos e métodos de arrays Numpy**

In [ ]:
dados = np.array([[44410., 5712., 37123., 0., 25757.],
                 [2003, 1991, 1990, 2019, 2006]])
dados

array([[44410.,  5712., 37123.,     0., 25757.],
       [ 2003.,  1991.,  1990.,  2019.,  2006.]])

## *ndarray.shape*

Retorna uma tupla com as dimensões do array:
linhas, colunas

In [ ]:
dados.shape

(2, 5)

## *ndarray.ndim*

Retorna o número de dimensões do array.

In [ ]:
dados.ndim

2

## *ndarray.size*

Retorna o número de elementos do array.

In [ ]:
dados.size

10

## *ndarray.dtype*

Retorna o tipo de dados dos elementos do array.

In [ ]:
dados.dtype

dtype('float64')

## *ndarray.T*

Retorna o array transposto, isto é, converte linhas em colunas e vice versa.

In [ ]:
dados.T

array([[44410.,  2003.],
       [ 5712.,  1991.],
       [37123.,  1990.],
       [    0.,  2019.],
       [25757.,  2006.]])

## *ndarray.tolist()*

Retorna o array como uma lista Python.

In [ ]:
dados.tolist()

[[44410.0, 5712.0, 37123.0, 0.0, 25757.0],
 [2003.0, 1991.0, 1990.0, 2019.0, 2006.0]]

## *ndarray.reshape(shape[, order])*

Retorna um array que contém os mesmos dados com uma nova forma.

In [ ]:
contador = np.arange(10)
contador

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [ ]:
#transformando nossa variável para ter 5 linhas e 2 colunas
#importante a variável ter a divisão certa
contador.reshape((5,2))

array([[0, 1],
       [2, 3],
       [4, 5],
       [6, 7],
       [8, 9]])

In [ ]:
#alterando a ordem de como fazemos a indexação
contador.reshape((5,2), order = 'F')

array([[0, 5],
       [1, 6],
       [2, 7],
       [3, 8],
       [4, 9]])

In [ ]:
#temos duas listas 
km = [44410, 5712, 37123, 0, 25757]
anos = [2003, 1991, 1990, 2019, 2006]

#podemos querer uma lista com os itens acima
info_carros = km + anos
info_carros #no entanto, a lista retornada está misturando os itens

[44410, 5712, 37123, 0, 25757, 2003, 1991, 1990, 2019, 2006]

In [ ]:
#criando um array com a lista e fazendo um reshape com o array criado
np.array(info_carros).reshape(2,5)

#com o comando acima, vimos que já conseguimos deixar o array de forma organizada e usavel

array([[44410,  5712, 37123,     0, 25757],
       [ 2003,  1991,  1990,  2019,  2006]])

In [ ]:
#podemos visualizar de uma forma diferente, com a kilometragem um do lado do outro
#fazemos da seguinte forma: criamos o reshape com 5 linhas, 2 colunas e mudamos a ordem com order = 'F'
np.array(info_carros).reshape(5,2, order = 'F')

array([[44410,  2003],
       [ 5712,  1991],
       [37123,  1990],
       [    0,  2019],
       [25757,  2006]])

## *ndarray.resize(new_shape[, refcheck])*

Altera a forma e o tamanho do array.

In [ ]:
dados_new = dados.copy()
dados_new

array([[44410.,  5712., 37123.,     0., 25757.],
       [ 2003.,  1991.,  1990.,  2019.,  2006.]])

In [ ]:
#vamos inserir mais uma linha em dados_new
dados_new.resize((3,5), refcheck = False)
dados_new

#utilizando refcheck = False, pois com dados referenciados o Python da um erro se não passamos esse parâmetro

array([[44410.,  5712., 37123.,     0., 25757.],
       [ 2003.,  1991.,  1990.,  2019.,  2006.],
       [    0.,     0.,     0.,     0.,     0.]])

In [ ]:
#com a linha criada vamos calcular a kilometragem média e preservar nessa linha:
dados_new[2] = dados_new[0] / (2022 - dados_new[1])
dados_new

array([[44410.        ,  5712.        , 37123.        ,     0.        ,
        25757.        ],
       [ 2003.        ,  1991.        ,  1990.        ,  2019.        ,
         2006.        ],
       [ 2337.36842105,   184.25806452,  1160.09375   ,     0.        ,
         1609.8125    ]])

# Estatísticas com arrays Numpy

https://numpy.org/doc/1.16/reference/arrays.ndarray.html#calculation

e

https://numpy.org/doc/1.16/reference/routines.statistics.html

e

https://numpy.org/doc/1.16/reference/routines.math.html

In [ ]:
#trazendo os dados que estavam externos
anos = np.loadtxt(fname = "carros-anos.txt", dtype = int)
km = np.loadtxt(fname = "carros-km.txt")
valor = np.loadtxt(fname = "carros-valor.txt")

In [ ]:
anos.shape

(258,)

In [ ]:
#criando um array com array externos, por meio do column_stack
#a função column_stack transforma arrays unidimensionais em colunas em um array

dataset = np.column_stack((anos, km, valor))
dataset

In [ ]:
#vendo o tamanho do nosso array
dataset.shape

(258, 3)

## *np.mean()*

Retorna a média dos elementos do array ao longo do eixo especificado.

In [ ]:
#calculando a média de cada uma das colunas
#para trabalhar as colunas, utilizamos axis = 0, para linhas axis = 1
np.mean(dataset, axis = 0)

array([ 2007.51162791, 44499.41472868, 98960.51310078])

In [ ]:
#no entanto, não faz sentido fazermos a média dos anos, então tiramos ela do calculo da média
#vamos calcular apenas a kilometragem média e o valor médio
np.mean(dataset[:,1:], axis = 0)

array([44499.41472868, 98960.51310078])

## *np.std()*

Retorna o desvio padrão dos elementos do array ao longo do eixo especificado.

In [ ]:
#calculando o desvio padrão das colunas de km e valor
np.std(dataset[:,1:], axis = 0)

array([39859.82699005, 29754.10115039])

## *ndarray.sum()*

Retorna a soma dos elementos do array ao longo do eixo especificado.

In [ ]:
#fazendo o somatório de cada coluna
dataset.sum(axis = 0)

array([  517938.        , 11480849.        , 25531812.37999999])

In [ ]:
#fazendo o somatório dos valores:
dataset[:, 2].sum()

25531812.38

## *np.sum()*

Retorna a soma dos elementos do array ao longo do eixo especificado.

In [ ]:
#somatório de cada coluna
np.sum(dataset, axis = 0)

array([  517938.        , 11480849.        , 25531812.37999999])

In [ ]:
#somatório da coluna de valores
np.sum(dataset[:, 2], axis = 0)

25531812.38